__pycache__
venv

movidex/node_modules
movidex/.pnp
movidex/.pnp.js

# testing
movidex/coverage

# production
movidex/build

# misc
movidex/.DS_Store
movidex/.env.local
movidex/.env.development.local
movidex/.env.test.local
movidex/.env.production.local

movidex/npm-debug.log*
yarn-debug.log*
yarn-error.log*
.azure